@charset "UTF-8";
a,
a:hover {
	text-decoration: none
}

body,
html {
	-webkit-user-select: none
}

.gridbox:after,
ol.inline:after,
ul.inline:after {
	clear: both
}

.bg_mask,
.pictext .a_mask {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0
}

.btn:focus,
.search_box .input:active,
.search_box .input:focus {
	outline: 0
}

a,
abbr,
acronym,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

.btn,
.text_fb {
	font-weight: 700
}

li,
ol,
ul {
	list-style: none
}

a {
	color: #000
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

input,
textarea {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

input[disabled],
textarea[disabled] {
	opacity: 1
}

a,
button {
	-webkit-tap-highlight-color: transparent
}

a,
img {
	-webkit-touch-callout: none
}

img {
	max-width: 100%
}

.clearfix:after {
	content: "";
	display: table;
	height: 0;
	clear: both
}

body,
html {
	font-size: .875rem
}

body {
	overflow-y: auto;
	font-family: PingFang-SC-Regular, Helvetica, sans-serif;
	-webkit-overflow-scrolling: touch;
	color: #333;
	background-color: #f5f5f5;
	-webkit-text-size-adjust: none
}

body.noswipe,
html.noswipe {
	height: 100%;
	overflow: hidden
}

.num,
.red,
.spec {
	color: #db4c3f
}

.icon_arrow_right,
.icon_download,
.icon_fanhui,
.icon_fanhui2,
.icon_fanhui_b,
.icon_pic,
.icon_pull,
.icon_search,
.icon_search_b,
.icon_search_gray,
.icon_sort,
.icon_triangle_down,
.icon_triangle_up,
.icon_triangle_up_b,
.icon_user {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin: -.5rem;
	background-repeat: no-repeat;
	background-image: url("../../mobile/images/sprite.svg");
	-webkit-background-size: 2rem 62.375rem;
	background-size: 2rem 62.375rem;
	vertical-align: middle;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	font-size: 0
}

.icon_arrow_right {
	background-position: 0 0
}

.icon_pic {
	background-position: 0 -2.625rem
}

.icon_triangle_down {
	background-position: 0 -5.25rem;
	-webkit-transform: scale(.35);
	-moz-transform: scale(.35);
	-ms-transform: scale(.35);
	-o-transform: scale(.35);
	transform: scale(.35)
}

.icon_triangle_up {
	background-position: 0 -7.875rem;
	-webkit-transform: scale(.35);
	-moz-transform: scale(.35);
	-ms-transform: scale(.35);
	-o-transform: scale(.35);
	transform: scale(.35)
}

.icon_pull {
	background-position: 0 -10.5rem;
	-webkit-transform: scale(.36, .42);
	-moz-transform: scale(.36, .42);
	-ms-transform: scale(.36, .42);
	-o-transform: scale(.36, .42);
	transform: scale(.36, .42)
}

.icon_search_gray {
	margin: -.375rem;
	background-position: 0 -13.125rem;
	-webkit-transform: scale(.625);
	-moz-transform: scale(.625);
	-ms-transform: scale(.625);
	-o-transform: scale(.625);
	transform: scale(.625)
}

.icon_user {
	background-position: 0 -15.75rem
}

.icon_download {
	background-position: 0 -18.375rem
}

.icon_search {
	margin: -.375rem;
	background-position: 0 -34.125rem;
	-webkit-transform: scale(.625);
	-moz-transform: scale(.625);
	-ms-transform: scale(.625);
	-o-transform: scale(.625);
	transform: scale(.625)
}

.icon_fanhui {
	background-position: 0 -36.75rem
}

.icon_fanhui2 {
	background-position: 0 -10.5rem;
	-webkit-transform: rotate(90deg) scale(.5);
	-moz-transform: rotate(90deg) scale(.5);
	-ms-transform: rotate(90deg) scale(.5);
	-o-transform: rotate(90deg) scale(.5);
	transform: rotate(90deg) scale(.5)
}

.icon_sort {
	background-position: 0 -39.375rem;
	display: block;
	margin: -.2rem auto;
	transform: scale(.3125)
}

.icon_delete {
	display: inline-block;
	width: .75rem;
	height: .75rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAlUlEQVR4Ae2LxUEEURAF+88PCcKAJCoHVsNZu68b3HFJYW4TxG983G9IvVt1l8ThlGccGpvjmRMpghc0Zy/FgUOxCWNRXPJpgzbYTFg0CsbyCYqK4GEkBQbv+x4SikIoDrjhPrRX7KsDRZP2P/ilwZJNaKdMigKHYqQATDbwUc4LgzMUP6k6aMU6ycAyJCh8DhhgpR2vJ10vKhe91g8AAAAASUVORK5CYII=) center center no-repeat;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%
}

.icon_search_b {
	background-position: 0 -52.5rem
}

.icon_triangle_up_b {
	background-position: 0 -55.125rem
}

.icon_fanhui_b {
	background-position: 0 -57.75rem
}

.icon_im {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background: url("../../images/common/icon_im.svg?id=201607141919&version=f4ap9c7w59") center center no-repeat;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%
}

.flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}

.flexbox .box_col {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.flexbox .box_row {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column
}

.flexbox.box_center_h {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center
}

.flexbox.box_center_v {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-grid-row-align: center;
	align-items: center
}

.flexbox .plus {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center
}

.gridbox:after,
.gridbox:before {
	display: table;
	content: ""
}

.only_oneline,
.threeline,
.twoline {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.gridbox .box_col {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center
}

.gridbox.col_1 .box_col {
	width: 100%
}

.gridbox.col_2 .box_col {
	width: 50%
}

.gridbox.col_3 .box_col {
	width: 33.33333%
}

.gridbox.col_4 .box_col {
	width: 25%
}

.gridbox.col_5 .box_col {
	width: 20%
}

.gridbox.col_6 .box_col {
	width: 16.66667%
}

.gridbox.col_7 .box_col {
	width: 14.28571%
}

.gridbox.col_8 .box_col {
	width: 12.5%
}

.gridbox.col_9 .box_col {
	width: 11.11111%
}

.gridbox.col_10 .box_col {
	width: 10%
}

.text_cut {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.text_ca {
	color: #333!important
}

.text_cb {
	color: #666!important
}

.text_cc {
	color: #999!important
}

.text_ar {
	text-align: right
}

.text_al {
	text-align: left
}

.btn,
.pictext .mod_media .media-txt,
.text_ac {
	text-align: center
}

.threeline {
	-webkit-line-clamp: 3
}

.twoline {
	-webkit-line-clamp: 2
}

.only_oneline {
	-webkit-line-clamp: 1
}

input[type=color],
input[type=range],
input[type=date],
input[type=datetime],
input[type=week],
input[type=month],
input[type=time],
input[type=datetime-local],
input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=url],
textarea {
	width: 100%;
	height: 2.1875rem;
	line-height: 2.1875rem;
	padding: 0 .5rem;
	background-color: #fff;
	border: 1px solid #c5c5c5;
	font-size: .875rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0
}

textarea {
	height: auto;
	line-height: 1.125em
}

input[type=radio],
input[type=checkbox] {
	margin: 0;
	vertical-align: middle
}

.checkbox span,
.radio span {
	margin: 0 .5rem;
	vertical-align: middle
}

select.select {
	font-size: .875rem
}

select[multiple],
select[size] {
	height: auto;
	font-size: .875rem
}

.btn {
	display: block;
	width: 100%;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	height: 3.0625rem;
	line-height: 3.0625rem;
	color: #fff;
	font-size: 1rem
}

.btn_mini,
.btn_small {
	display: inline-block;
	font-size: .75rem
}

.btn>* {
	vertical-align: middle
}

.btn_disable {
	background-color: #cbcbcb;
	border-color: #cbcbcb;
	color: #fff
}

.btn:active {
	opacity: .8
}

.btn_default {
	border: 1px solid #c5c5c5;
	background: #fff;
	color: #39ac6a
}

.btn_red {
	border-color: #c11515;
	background: #de2b2b
}

.btn_green {
	border-color: #00ae66;
	background: #00ae66
}

.btn_blue {
	border-color: #0c88ba;
	background: #009cdc
}

.btn_white {
	border-color: #e5e5e5;
	background: #fff;
	color: #333
}

.btn_gray {
	border-color: #c5c5c5;
	background: #f6f6f6;
	color: #9f9f9f
}

.btn_link {
	border: 0;
	background-color: none;
	color: #999
}

.btn_small {
	width: 7.2rem;
	height: 1.625rem;
	line-height: 1.625rem
}

.btn_mini {
	width: auto;
	height: 1.2em;
	line-height: 1.2em;
	padding: 0 1rem;
	background-color: #ccc
}

.btn_box {
	margin-top: 1.5rem;
	padding: 0 1rem
}

.btn_box .box_col:first-child {
	padding-right: .5rem
}

.btn_box .box_col:last-child {
	padding-left: .5rem
}

ol.inline:after,
ol.inline:before,
ul.inline:after,
ul.inline:before {
	display: table;
	height: 0;
	content: "";
	visibility: hidden
}

ol.inline li,
ul.inline li {
	float: left;
	width: auto;
	max-width: auto;
	min-width: auto;
	font-size: 1.4rem;
	margin: 0;
	padding: 0
}

ol.lists li,
ul.lists li {
	background-color: #fff
}

.arrow {
	position: relative
}

.arrow:before {
	position: absolute;
	content: " ";
	width: 1.5rem;
	height: 1.5rem;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNLTE3MS41LTI3Ni41YzAtMTQuMzU5LTExLjY0MS0yNi0yNi0yNnMtMjYgMTEuNjQxLTI2IDI2YzAgNi41ODQgMi40NTIgMTIuNTkyIDYuNDg3IDE3LjE3My0uNDgxIDEuNDE2LS40ODYgMi42MzMtLjQ4NiAyLjYzM3M5LjkyIDguMTk0IDIwLjI2MSA4LjE5NGM5LjYzNCAwIDE5LjczOS04LjE5NiAxOS43MzktOC4xOTYuMDA4LTEuMDA3LS4xNDMtMS45MDYtLjQyNS0yLjcwMSAzLjk5Ni00LjU3MyA2LjQyNC0xMC41NTMgNi40MjQtMTcuMTAzeiIgZmlsbD0ibm9uZSIvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYWFhIiBkPSJNMjMuNzUyIDE1Ljc0MmwtMTMuNzM4LTEzLjc0Mi0xLjc2NiAxLjc2NyAxMi4yMzEgMTIuMjMzLTEyLjIzMSAxMi4yMzQgMS43NjYgMS43NjYgMTMuNzM4LTEzLjc0MS0uMjU4LS4yNTl6Ii8+PC9zdmc+) center center no-repeat;
	background-size: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: .5rem;
	top: 50%
}

.bg_mask {
	position: absolute;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .3)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .3) 100%);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .3) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .3) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .3) 100%);
	pointer-events: none
}

.pictext {
	position: relative
}

.pictext .a_mask {
	position: absolute;
	z-index: 1
}

.pictext .mod_media,
.pictext .mod_media .media_main {
	position: relative;
	width: 5.0625rem;
	height: 5.0625rem;
	text-align: center
}

.pictext .mod_media .media_main img,
.pictext .mod_media img {
	width: 100%;
	height: 100%
}

.pictext .mod_media.radius .media_main,
.pictext .mod_media.radius .media_main img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.pictext .mod_media .icon {
	position: absolute;
	right: -.5rem;
	bottom: -.5rem
}

.pictext .opt_b,
.pictext .opt_c,
.pictext .opt_t {
	position: absolute;
	right: 0
}

.pictext .mod_media img {
	display: block;
	vertical-align: top
}

.pictext .mod_media .media-txt {
	display: block;
	width: 3.4rem;
	height: 1.6rem;
	line-height: 1.6rem;
	margin-top: .5rem;
	font-size: 1rem
}

.pictext .item_list {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 1.25rem;
	overflow: hidden
}

.pictext .item_list>div:last-child {
	margin-bottom: 0
}

.pictext .item_main {
	margin-bottom: .45rem;
	line-height: 1.2em;
	overflow: hidden;
	font-size: 1rem;
	color: #394043
}

.pictext .item_main .btn {
	vertical-align: bottom;
	margin: 0 0 0 .6rem
}

.pictext .item_minor,
.pictext .item_other {
	margin-bottom: .45rem;
	line-height: 1.2em;
	color: #333;
	font-size: .75rem
}

.pictext .item_other,
.pictext .item_other a {
	color: #8b8b8b
}

.pictext .item_main>*,
.pictext .item_minor>*,
.pictext .item_other>* {
	vertical-align: middle;
	margin-right: .3125rem
}

.pictext .item_main>div:last-child,
.pictext .item_minor>div:last-child,
.pictext .item_other>div:last-child {
	margin-right: 0;
	text-align: right
}

.pictext .tag_box>* {
	margin-right: .3rem;
	vertical-align: top
}

.pictext .opt_t {
	top: 0
}

.pictext .opt_c {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

.pictext .opt_b {
	bottom: 0
}

.search_box {
	display: block;
	position: relative;
	margin: .9375rem .9375rem 0;
	height: 2.1875rem;
	padding-left: 1.425rem;
	-webkit-border-radius: .125rem;
	-moz-border-radius: .125rem;
	border-radius: .125rem;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff
}

.search_box .icon_search,
.search_box .icon_search_gray {
	position: absolute;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5);
	left: .4rem;
	top: .45rem
}

.search_box .input {
	margin-right: .125rem;
	border: 0;
	vertical-align: top
}

.search_box .input::-webkit-input-placeholder {
	color: #9c9fa1
}

.search_box.search_a {
	height: 2.5625rem;
	line-height: 2.5625rem;
	padding-left: 0;
	padding-right: 3.5rem
}

.search_box.search_a .icon_search {
	right: 1.125rem;
	top: .625rem;
	left: auto
}

.search_box.search_a .input {
	height: 2.5625rem;
	line-height: 2.5625rem;
	color: #000
}

.search_box.search_a .divide {
	position: absolute;
	width: 0;
	height: 80%;
	padding: 0 .3125rem;
	border-right: 1px solid #e5e5e5;
	top: 50%;
	right: 3.3125rem;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

.search_box.search_b {
	margin: .9375rem;
	border: 0;
	padding: 0;
	background: 0;
	overflow: visible
}

.search_box.search_b .inner {
	position: relative;
	height: 2.1875rem;
	margin-right: 3em;
	-webkit-border-radius: .125rem;
	-moz-border-radius: .125rem;
	border-radius: .125rem;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff
}

.search_box.search_b .icon_clear {
	position: absolute;
	width: 2.5rem;
	top: 0;
	right: 0;
	bottom: 0
}

.search_box.search_b .icon_clear::before {
	content: " ";
	position: absolute;
	width: 1rem;
	height: 1rem;
	background-color: #eee;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.search_box.search_b .icon_clear::after {
	content: "X";
	position: absolute;
	font-family: Tahoma, Helvetica, sans-serif;
	color: #fff;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale(1.1, .85);
	-moz-transform: translate(-50%, -50%) scale(1.1, .85);
	-ms-transform: translate(-50%, -50%) scale(1.1, .85);
	-o-transform: translate(-50%, -50%) scale(1.1, .85);
	transform: translate(-50%, -50%) scale(1.1, .85);
	font-size: .75rem
}

.search_box.search_b .opt_btn {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 2.1875rem;
	color: #858585
}

.search_box.search_c {
	height: 3.125rem;
	line-height: 3.125rem;
	margin: 0;
	background: #f9f9f9;
	padding: .625rem;
	border: none
}

.banner,
.tab_bar_a {
	border-bottom: 1px solid #e5e5e5
}

.search_box.search_c input {
	padding-left: 1.6125rem;
	height: 1.875rem;
	line-height: 1.875rem;
	background: #e8e8e9;
	font-size: .75rem
}

.search_box.search_c .icon_search_gray {
	left: .9375rem;
	top: 1rem
}

.banner {
	position: relative;
	max-height: 18.75rem;
	padding-top: 28.5%;
	margin-top: .75rem;
	border-top: 1px solid #e5e5e5;
	overflow: hidden
}

.banner .ullists {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0
}

.banner .ullists .li {
	height: 100%;
	overflow: hidden
}

.banner img {
	width: 100%;
	height: 100%;
	vertical-align: top
}

.banner .dotlists {
	position: absolute;
	bottom: .625rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%)
}

.banner .dot {
	width: .375rem;
	height: .375rem;
	margin: 0 .3125rem;
	background-color: #cdcfd0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.banner .dot.active {
	background-color: #00ae66
}

.tab_bar {
	height: 2.75rem;
	line-height: 2.75rem;
	background-color: #fff
}

.tab_bar .tab_tit {
	position: relative;
	text-align: center;
	font-size: .875rem;
	font-weight: 600;
	overflow: hidden
}

.tab_bar .tab_tit>.tit {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden
}

.tab_bar .tab_tit:last-child:after,
.tab_bar_a .tab_tit::after {
	display: none
}

.tab_bar .tab_tit .icon_triangle_down {
	margin-left: -.375rem;
	color: gray;
	vertical-align: middle
}

.tab_bar .tab_tit.active,
.tab_bar .tab_tit.active .icon_triangle_down {
	color: #00ae66;
	background-position: 0 -7.875rem
}

.tab_bar_a {
	height: 2.5rem;
	line-height: 2.5rem;
	background-color: #f1f1f1
}

.tab_bar_a .tab_tit {
	margin-bottom: -1px;
	font-weight: 400;
	color: #626262
}

.tab_bar_a .tab_tit .pointer {
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	border: .4375rem solid;
	border-color: transparent transparent #e2e2e2;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%) rotate(0);
	-moz-transform: translateX(-50%) rotate(0);
	-ms-transform: translateX(-50%) rotate(0);
	-o-transform: translateX(-50%) rotate(0);
	transform: translateX(-50%) rotate(0)
}

.mod_box h3.mod_tit>a>small,
.mod_box h3.mod_tit>small,
.plus {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%)
}

.tab_bar_a .tab_tit .pointer::before {
	position: absolute;
	content: " ";
	top: -.375rem;
	left: -.4375rem;
	width: 0;
	height: 0;
	border: .4375rem solid;
	border-color: transparent transparent #fff
}

.tab_bar_a .tab_tit.active .pointer {
	display: block
}

.tab_box {
	padding: 0
}

.tab_box .tab_tit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	height: 3.4375rem;
	line-height: 3.4375rem;
	border-bottom: 1px solid #e5e5e5
}

.tab_box_a .tab_tit .tit.active::after,
.tab_cont .option_cont .li_cont {
	display: none
}

.tab_box .tab_tit .tit {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	text-align: center;
	font-size: 1rem;
	font-weight: 700
}

.tab_box .tab_tit .tit.active {
	color: #00ae66
}

.tab_box .tab_tit .tit.active::after {
	position: absolute;
	content: " ";
	width: 100%;
	height: .125rem;
	left: 0;
	bottom: 0;
	background: #00ae66
}

.tab_box_a .tab_tit {
	height: 2rem;
	line-height: 2rem;
	padding: .5rem 0;
	border-bottom: 0
}

.tab_box_a .tab_tit .tit {
	font-size: .8125rem
}

.tab_box_a .tab_tit .tit.active {
	color: #00ae66;
	background-color: #e0f6ea;
	-webkit-border-radius: .625rem;
	-moz-border-radius: .625rem;
	border-radius: .625rem
}

.tab_cont .sub_option {
	width: 40%
}

.tab_cont .sub_option li {
	padding: 1.3rem 0 1.3rem 2.8rem;
	background-color: #f6f6f6
}

.tab_cont .option_cont,
.tab_cont .sub_option li.active {
	background-color: #fff
}

.tab_cont .option_cont .li_cont.active {
	display: block
}

.tab_cont .option_cont .li_cont li {
	padding: 1.3rem 0 1.3rem 4.5rem
}

.tag,
.tag_a,
.tag_b,
.tag_c,
.tag_d,
.tag_e {
	display: inline-block;
	line-height: 1em;
	padding: .125rem .25rem;
	font-size: .6875rem;
	-webkit-border-radius: .125rem;
	-moz-border-radius: .125rem;
	border-radius: .125rem
}

.tag {
	background-color: #f4f7f9;
	color: #849aae
}

.tag_a,
.tag_b,
.tag_c,
.tag_d,
.tag_e {
	border-width: 1px;
	border-style: solid
}

.tag_a {
	border-color: #e26b46;
	color: #e26b46
}

.tag_b {
	border-color: #35aa7f;
	color: #35aa7f
}

.tag_c {
	border-color: #f2ab01;
	color: #f2ab01
}

.tag_d {
	border-color: #328fca;
	color: #328fca
}

.tag_e {
	border-color: #77ad28;
	color: #77ad28
}

.mod_box,
.mod_box h3.mod_tit {
	border-bottom: 1px solid #e5e5e5
}

.plus {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%)
}

.crumb {
	width: .25rem;
	height: .75rem;
	padding: 0 .3125rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAUElEQVR4AWNgYNgmwgAHYO62tG0225iQhbS2pWzz2saOLCS1LX5b+DZ+ZCH+bWFAQWlkITagttRtNrgEtvGBtchgN3SbJtBab6i1mA7DcDoAb/cmkayp5asAAAAASUVORK5CYII=) center center no-repeat;
	-moz-background-size: 50%;
	-o-background-size: 50%;
	background-size: 50%
}

.mod_box {
	margin-top: .75rem;
	padding: 0 0 0 1.25rem;
	background-color: #fff;
	border-top: 1px solid #e5e5e5
}

.mod_box h3.mod_tit {
	position: relative;
	height: 3.4375rem;
	line-height: 3.4375rem;
	color: #333;
	font-size: 1rem;
	font-weight: 700
}

.mod_box h3.mod_tit:last-child {
	border-bottom: 0
}

.mod_box h3.mod_tit>a {
	display: block;
	width: 100%;
	color: #333
}

.mod_box h3.mod_tit>a>strong,
.mod_box h3.mod_tit>strong {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.mod_box h3.mod_tit>a>small,
.mod_box h3.mod_tit>small {
	position: absolute;
	right: 1.25rem;
	top: 50%;
	color: #999;
	font-size: .8125rem;
	font-weight: 400;
	transform: translateY(-50%)
}

.mod_box h3.mod_tit>a.arrow>small {
	right: 1.75rem
}

.mod_box h3.mod_sub_tit>a>small,
.mod_box h3.mod_sub_tit>small {
	position: absolute;
	right: 1.25rem;
	top: 50%;
	color: #999;
	font-size: .8125rem;
	font-weight: 400;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

.mod_box h3.mod_tit .auxiliary {
	font-size: .75rem;
	color: #999;
	padding-left: .9375rem;
	font-weight: 400
}

.mod_box h3.mod_sub_tit {
	font-size: 1rem;
	display: block;
	position: relative;
	height: 4.125rem;
	line-height: 4.125rem
}

.mod_box h4.mod_tit {
	margin-bottom: .75rem;
	font-size: .875rem;
	color: #333
}

.mod_box .mod_cont {
	padding: 0;
	line-height: 2
}

.mod_box .mod_cont.gap {
	padding: .9375rem 0;
	overflow: hidden
}

.mod_box .mod_cont .text,
.mod_box .mod_cont p {
	padding-right: .9375rem;
	line-height: 1.5
}

.mod_box .detail_more {
	overflow: hidden
}

.mod_box .detail_more a {
	display: block;
	height: 3.125rem;
	line-height: 3.125rem;
	margin-left: -1.25rem;
	border-top: 1px solid #e5e5e5;
	text-align: center;
	color: #999
}

.li_item,
.li_item>a.flexbox,
.li_item>div.flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}

.house_lists .tab_bar .tab_tit>.tit {
	max-width: 70%;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 100
}

.house_lists .mod_media,
.house_lists .mod_media .media_main {
	width: 6.75rem
}

.house_lists .mod_media .media_main .tip {
	position: absolute;
	height: 1.25rem;
	line-height: 1.25rem;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: .625rem;
	background: rgba(57, 64, 67, .6);
	color: #fff
}

.li_item {
	position: relative;
	display: flex;
	line-height: 2.75rem;
	border-bottom: 1px solid #e5e5e5;
	font-size: .9375rem
}

.li_item:last-child {
	border-bottom: 0
}

.li_item>a,
.li_item>div {
	display: block;
	width: 100%;
	color: #333
}

.li_item>a.flexbox,
.li_item>div.flexbox {
	display: flex
}

.li_item>*,
.li_item>a>* {
	vertical-align: middle
}

.li_item>a>i,
.li_item>i {
	margin-right: .75rem
}

.li_item>a:active>.value,
.li_item>a:focus>.value,
.li_item>a>.value {
	color: #7e94a8!important
}

.li_item .tit {
	width: auto;
	color: #999;
	font-size: .875rem
}

.li_item .value {
	line-height: 1.5;
	padding: .725rem .9375rem .625rem 0;
	color: #333;
	text-align: justify;
	font-size: .875rem
}

.li_item .box_col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0
}

.li_item .box_col .value {
	padding: 0;
	line-height: 2.75rem
}

.li_item .arrow.flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}

.li_item .arrow.flexbox .value {
	padding-right: 3rem
}

.li_item .cont {
	margin-top: 1.5rem
}

.li_item .input {
	height: 2.3rem;
	line-height: 2.3rem;
	border: 0;
	padding: 0 .5rem
}

.li_item .plus {
	position: static;
	color: gray;
	font-size: 2rem;
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

.li_item.detail_more a {
	display: block;
	width: 100%;
	text-align: center;
	color: #999
}

.lists.noborder .li_item {
	border-bottom: 0;
	line-height: 2
}

.header,
.header.header_haiwai {
	border-bottom: 1px solid #e5e5e5
}

.lists.noborder .li_item .value {
	padding: 0 2rem 0 0;
	line-height: 2
}

.header,
.header .switch_city {
	color: #222;
	line-height: 3.125rem
}

.wrapper {
	height: 100%;
	overflow: hidden
}

.wrapper .page {
	background: #f5f5f5
}

.wrapper .page .content_area {
	min-height: 32rem;
	min-height: calc(100vh - 2.8125rem)
}

.wrapper .page .content_area .mod_box:first-child {
	margin-top: 0;
	border-top: 0
}

.wrapper .page.has_fixbar {
	padding-bottom: 3.5rem
}

.header .icon_fanhui2 {
	background-position: 0 -26.25rem
}

.footer,
.header {
	text-align: center;
	z-index: 10
}

.header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 3.125rem;
	padding: 0 1.1875rem 0 1.25rem;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	justify-content: space-between;
	background-color: #fff
}

.header>.box_col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #222
}

.header .logo_wrap {
	display: block;
	height: 100%;
	overflow: hidden
}

.header .city_wrap {
	display: block;
	padding: 0 .5rem;
	font-size: 0
}

.header .switch_city {
	display: inline-block;
	vertical-align: top
}

.header .switch_city .city {
	font-size: .8125rem;
	vertical-align: middle
}

.header .opt_box {
	height: 100%;
	text-align: right
}

.header .app,
.header .my {
	display: inline-block;
	width: 2.5rem;
	height: 100%;
	line-height: 1em;
	padding-top: .5rem;
	font-size: .75rem;
	color: #00ae66;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.header .app span,
.header .my span {
	display: block;
	padding-top: .125rem;
	-webkit-transform: scale(.917);
	-ms-transform: scale(.917);
	-moz-transform: scale(.917);
	-o-transform: scale(.917);
	transform: scale(.917)
}

.header .header_back:after,
.header .icon_pull,
.header .icon_user,
.header .logo,
.home_header .icon_user {
	font-size: 0;
	display: inline-block;
	background-image: url("../../mobile/images/sprite_new.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-transform: none;
	transform: none
}

.header .header_back {
	display: block;
	height: 100%;
	font-size: 0;
	margin-right: .9375rem
}

.header .header_back:after {
	content: "";
	height: 1.25rem;
	width: 1.25rem;
	background-size: 1.25rem;
	margin: .9375rem 0 0 -.3125rem;
	background-position: 0 -1.484375rem
}

.header .logo {
	width: 4.2rem;
	height: 100%;
	background-size: 4.2rem;
	background-position: 0 -10.5125rem
}

.header .icon_user {
	width: 1.8rem;
	height: 1.8rem;
	background-size: 1.8rem;
	margin-top: .6625rem;
	margin-right: -.3rem
}

.header .icon_pull {
	width: .5625rem;
	height: .5625rem;
	background-size: .5625rem;
	background-position: 0 -4.0078125rem;
	margin: 0 0 0 .18rem
}

.header .center,
.header .left,
.header .right {
	padding: 0;
	font-size: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center
}

.header .left {
	text-align: left
}

.header .right {
	text-align: right
}

.header_xinfang .logo {
	background-image: url(//s1.ljcdn.com/hulk-newh/static/m/images/common/sprite_newh.svg?id=201607141919&version=epjjceqhc1);
	width: 2rem;
	height: 2rem;
	margin: 0 1.5rem;
	-moz-background-size: 2rem 62.375rem;
	-o-background-size: 2rem 62.375rem;
	background-size: 2rem 62.375rem;
	-webkit-transform: scale(3.15);
	-moz-transform: scale(3.15);
	-ms-transform: scale(3.15);
	-o-transform: scale(3.15);
	transform: scale(3.15);
	background-position: 0 -31.47rem;
	vertical-align: middle
}

.header_haiwai .logo {
	width: 6.3rem;
	height: 100%;
	background-size: 6.3rem;
	background-position: 0 -38.99375rem
}

.header_haiwai .icon_user {
	background-position: 0 -6.4125rem
}

.header.header_haiwai {
	background: #FFF
}

.header.header_haiwai .app,
.header.header_haiwai .my,
.header.header_haiwai .switch_city {
	color: #394043
}

.header.header_haiwai .switch_city {
	line-height: 3.125rem
}

.header.header_haiwai .header_back:after {
	background-position: 0 -5.9375rem
}

.footer {
	margin-top: .75rem;
	padding: 0 .9375rem;
	background: #2f3130;
	color: #727373
}

.footer .nav {
	height: 2rem;
	line-height: 2rem;
	text-align: left;
	border-bottom: 1px solid #3e403f;
	font-size: .625rem;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.footer .nav h1 {
	display: inline
}

.footer .location,
.footer .location a {
	color: #939494
}

.footer .cur a {
	color: #727373
}

.footer .info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	white-space: nowrap
}

.footer .icon_box {
	width: 7.8125rem;
	padding-top: .875rem;
	font-size: 0
}

.footer .icon_android,
.footer .icon_iphone {
	display: inline-block;
	width: 3.75rem;
	height: 1.4375rem;
	background: url(../images/foot_sprite.png) no-repeat;
	font-size: 0;
	-moz-background-size: 3.75rem 2.875rem;
	-o-background-size: 3.75rem 2.875rem;
	background-size: 3.75rem 2.875rem;
	vertical-align: top;
	opacity: .32
}

.footer .icon_android {
	background-position: 0 -1.4375rem
}

.footer .copyright {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-top: .75rem;
	text-align: right;
	font-size: .5625rem;
	line-height: 1.5
}

.loading_box {
	padding: .3125rem 0;
	text-align: center;
	color: #999
}

.loading_box>* {
	vertical-align: middle
}

.loading_box .loading {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-right: .3125rem;
	background: url("../../images/common/loading.gif?version=f4ap9c7w59") center center no-repeat;
	-moz-background-size: 1rem 1rem;
	-o-background-size: 1rem 1rem;
	background-size: 1rem 1rem
}

.house_lists {
	padding: 0 0 0 1.25rem
}

.house_lists .tab_bar {
	margin-left: -1.25rem;
	border-bottom: 1px solid #ccc
}

.house_lists .sort_bar {
	position: fixed;
	right: .9375rem;
	bottom: 2.25rem;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 0;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	font-size: .625rem;
	text-align: center;
	-webkit-border-radius: .9375rem;
	-moz-border-radius: .9375rem;
	border-radius: 2.5rem;
	z-index: 10
}

.download_fixed,
.fixed_bar {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0
}

.house_lists .mod_cont .pictext {
	padding: 1.25rem 1.25rem 1.25rem 0;
	border-bottom: 1px solid #e5e5e5
}

.house_lists .mod_cont .pictext:last-child {
	border-bottom: 0
}

.house_lists .mod_cont .pictext~.detail_more a {
	border-top: 0
}

.house_lists .item_minor,
.house_lists .item_other {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}

.house_lists .item_minor.text_cut,
.house_lists .item_other.text_cut {
	display: block
}

.house_lists .item_minor .info,
.house_lists .item_other .deal_price,
.house_lists .item_other .location {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.house_lists .item_minor .price_total,
.house_lists .item_other .price_total {
	color: #fa5741;
	font-size: .9375rem;
	font-weight: 600;
	white-space: nowrap
}

.house_lists .item_minor .price_total .unit,
.house_lists .item_other .price_total .unit {
	font-size: .8125rem;
	margin-left: .125rem
}

.house_lists .item_date,
.house_lists .item_minor .unit_price,
.house_lists .item_other .unit_price {
	font-size: .6875rem;
	color: #9c9fa1
}

.house_lists .tag_box {
	line-height: .9375rem;
	margin-top: -.135rem;
	height: 1rem
}

.house_lists .tag_box>.tag {
	margin: 0 .3125rem 0 0;
	line-height: 1em;
	vertical-align: top
}

.house_lists .detail_more {
	overflow: hidden
}

.house_lists .detail_more a {
	width: auto;
	margin-left: -1.25rem
}

.house_lists .item_date {
	line-height: .6875rem;
	margin-bottom: .56rem
}

.page .agent_none,
.page .house_none,
.page .question_none {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 32rem;
	padding: 17rem 0 0;
	background: url("../../images/common/house_none.png?id=201607141919&version=f4ap9c7w59") center 8rem no-repeat #fff;
	-moz-background-size: 8rem 9.4375rem;
	-o-background-size: 8rem 9.4375rem;
	background-size: 8rem 9.4375rem;
	text-align: center
}

.page .agent_none {
	background: url("../../images/common/agent_none.png?id=201607141919&version=f4ap9c7w59") center 8rem no-repeat #fff;
	-moz-background-size: 6.25rem 7.5rem;
	-o-background-size: 6.25rem 7.5rem;
	background-size: 6.25rem 7.5rem
}

.page .question_none {
	background: url("../../images/common/question_none.png?id=201607141919&version=f4ap9c7w59") center 8rem no-repeat #fff;
	-moz-background-size: 5.125rem 6.375rem;
	-o-background-size: 5.125rem 6.375rem;
	background-size: 5.125rem 6.375rem
}

.page .agent_none .text1,
.page .house_none .text1,
.page .question_none .text1 {
	color: #6c6b6b;
	font-size: 1.0625rem;
	font-weight: 700;
	text-align: center
}

.page .agent_none .text2,
.page .house_none .text2,
.page .question_none .text2 {
	font-size: .875rem;
	color: #6c6b6b;
	line-height: 1.2
}

.fixed_bar {
	z-index: 90
}

.fixed_opt {
	padding: .5rem 0;
	-webkit-box-shadow: 0 -.0625rem .125rem #ddd;
	-moz-box-shadow: 0 -.0625rem .125rem #ddd;
	box-shadow: 0 -.0625rem .125rem #ddd;
	background: #fff;
	text-align: center
}

.fixed_opt .btn {
	color: #00ae66;
	line-height: 2.125rem;
	height: 2.125rem;
	border-right: 1px solid #e5e5e5
}

.fixed_opt .box_col:last-child .btn {
	border-right: 0
}

.download_fixed {
	height: 3.125rem;
	background: rgba(0, 0, 0, .68);
	overflow: hidden;
	z-index: 99
}

.download_fixed>a {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 100%
}

.download_fixed .logo {
	margin-left: 1.25rem;
	margin-right: .375rem;
	width: 1.875rem;
	height: 100%;
	background: url("../../images/common/logo300x300.png?id=201607011613&version=f4ap9c7w59") center center no-repeat;
	background-size: 1.875rem 1.875rem;
	font-size: 0
}

.download_fixed .slog {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1
}

.download_fixed .title {
	color: #fff;
	line-height: .875rem;
	font-size: .875rem;
	padding-top: .625rem
}

.download_fixed .sub-title {
	color: rgba(255, 255, 255, .7);
	font-size: .6875rem;
	margin-top: .1875rem
}

.download_fixed .btn {
	width: 6.875rem;
	height: 100%;
	line-height: 3.125rem;
	background: #00ae66;
	font-size: 1rem;
	color: #fff;
	text-align: center
}

.download_fixed .close {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	font-size: 0;
	z-index: 1;
	border: .8rem solid;
	border-color: rgba(0, 0, 0, .3) transparent transparent rgba(0, 0, 0, .3)
}

.download_fixed .close:after,
.download_fixed .close:before {
	content: "";
	display: block;
	position: absolute;
	height: .0625rem;
	width: .5625rem;
	background-color: #cdcfd0;
	opacity: .3;
	left: -.3rem;
	top: -.3rem;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg)
}

.download_fixed .close:after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg)
}

.download_bottom_btn {
	position: fixed;
	bottom: 2.25rem;
	left: 50%;
	font-size: .9375rem;
	text-align: center;
	-webkit-border-radius: 2.5rem;
	-moz-border-radius: 2.5rem;
	border-radius: 2.5rem;
	z-index: 10;
	height: 2.5rem;
	line-height: 2.5rem;
	background: #00A75B;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	color: #fff;
	padding: 0 .9375rem;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2)
}

.link_box {
	padding: 1rem 0 0
}

.link_box .link_tit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	height: 2rem;
	line-height: 2rem
}

.link_box .link_tit>h3 {
	color: #6e6e6e;
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	text-align: center;
	font-size: .875rem;
	font-weight: 600;
	background-color: #212121;
	margin: 0 .5rem
}

.layer_fixed,
.layer_static {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

.link_box .link_tit>h3.active {
	background-color: #3c3f3d;
	color: #fff
}

.link_box .link_tit>h3:first-child {
	margin-left: 0
}

.link_box .link_tit>h3:last-child {
	margin-right: 0
}

.link_box .link_cont {
	padding: .625rem 0
}

.link_box .link_cont .contlists {
	display: none
}

.link_box .link_cont .contlists.active {
	display: block
}

.layer_fixed .pic_lists,
.layer_fixed .top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}

.link_box .link_cont .contlists>li {
	padding-left: .5rem;
	height: 1.875rem;
	line-height: 1.875rem;
	list-style-type: disc;
	list-style-position: inside;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left
}

.link_box .link_cont .contlists>li>a {
	color: #828383
}

.layer_static {
	background-color: rgba(0, 0, 0, 0);
	z-index: 999
}

.layer_fixed {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 99;
	overflow: hidden
}

.layer_fixed .content {
	position: absolute;
	background: #fff;
	top: 2.78rem;
	width: 100%
}

.layer_fixed.b .content {
	position: absolute;
	top: auto;
	bottom: 0;
	right: 0;
	left: 0;
	-webkit-animation: fixedIn .3s ease;
	-moz-animation: fixedIn .3s ease;
	-o-animation: fixedIn .3s ease;
	animation: fixedIn .3s ease
}

.layer_fixed .top {
	height: 2.5rem;
	line-height: 2.5rem;
	display: flex
}

.layer_fixed .top .opt {
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center
}

.layer_fixed .top .title {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	color: #999
}

.layer_fixed .lists {
	padding-left: 1.25rem
}

.layer_fixed .lists li {
	line-height: 2.5;
	border-bottom: 1px solid #e5e5e5;
	font-size: .9375rem
}

.layer_fixed .lists li.active,
.layer_fixed .lists li.active a {
	color: #00ae66
}

.layer .layer_cont strong,
.layer .layer_tit {
	color: #333;
	font-weight: 700
}

.layer_fixed .pic_box {
	position: absolute;
	top: 2.5rem;
	left: 0;
	right: 0
}

.layer_fixed .pic_lists {
	height: 100%;
	display: flex
}

.layer_fixed .pic_lists .pic {
	position: relative;
	height: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center
}

.layer_fixed .pic img {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

@-webkit-keyframes fixedIn {
	0% {
		-webkit-transform: translateY(110%)
	}
	100% {
		-webkit-transform: translateY(0)
	}
}

@-moz-keyframes fixedIn {
	0% {
		-moz-transform: translateY(110%);
		transform: translateY(110%)
	}
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0)
	}
}

@-o-keyframes fixedIn {
	0% {
		-o-transform: translateY(110%);
		transform: translateY(110%)
	}
	100% {
		-o-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes fixedIn {
	0% {
		-webkit-transform: translateY(110%);
		-moz-transform: translateY(110%);
		-o-transform: translateY(110%);
		transform: translateY(110%)
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0)
	}
}

.layer {
	position: fixed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 19rem;
	padding: 0;
	left: 50%;
	top: 50%;
	background: #fff;
	-webkit-border-radius: .1875rem;
	-moz-border-radius: .1875rem;
	border-radius: .1875rem;
	z-index: 999;
	margin-left: -9.5rem;
	-webkit-transform: translate3d(0, -50%, 0);
	-moz-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0)
}

.layer .layer_tit {
	padding: 1.25rem 0 0;
	font-size: 1.0625rem;
	text-align: center
}

.layer .layer_cont~.layer .layer_tit {
	padding-top: .625rem
}

.layer .layer_cont {
	padding: 1.25rem;
	text-align: center;
	font-size: .875rem
}

.layer .layer_cont .text {
	line-height: 1.5;
	margin-top: .5rem;
	font-size: .875rem;
	text-align: center;
	color: #666
}

.layer .layer_cont .text.has_title {
	text-align: left
}

.layer .layer_cont .text:first-child {
	margin-top: 0
}

.layer .layer_cont textarea {
	width: 100%;
	line-height: 1.25;
	padding: .3125rem;
	border: 1px solid #bbb;
	background-color: #d7d7d7;
	font-size: .875rem
}

.layer .layer_opt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	border-top: 1px solid #bcbcbc;
	text-align: center
}

.layer .layer_opt .btn_cancel,
.layer .layer_opt .btn_ok {
	position: relative;
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	height: 2.96875rem;
	line-height: 2.96875rem;
	font-size: .9375rem;
	font-weight: 700
}

.layer .layer_opt .btn_ok {
	color: #00ae66
}

.layer .layer_opt .btn_cancel {
	border-right: 1px solid #e5e5e5;
	color: #999
}

.fadeIn {
	-webkit-animation: ani-fadeIn .5s ease forwards;
	-moz-animation: ani-fadeIn .5s ease forwards;
	-o-animation: ani-fadeIn .5s ease forwards;
	animation: ani-fadeIn .5s ease forwards
}

@-webkit-keyframes ani-fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-moz-keyframes ani-fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-o-keyframes ani-fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes ani-fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.mod_download {
	margin: .9375rem;
	background-color: #fff;
	border-radius: .875rem;
	padding: 1rem;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .15)
}

.mod_download .download_logo {
	width: 3.125rem;
	height: 3.125rem
}

.mod_download .download_btn {
	width: 5.3125rem;
	height: 2rem;
	line-height: 2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 0;
	text-align: center;
	background-color: #00ae66;
	color: #fff;
	border-radius: .1rem;
	font-size: .875rem
}

.mod_download .download_desc {
	position: relative;
	padding: .3125rem 1rem
}

.mod_download .download_desc .download_title {
	font-size: 1rem;
	color: #394043;
	line-height: 1;
	margin-top: .125rem
}

.mod_download .download_desc .download_sub {
	font-size: .6875rem;
	color: #9c9fa1;
	line-height: 1;
	margin-top: .5625rem
}

.download_topfixed {
	margin: 0;
	border-radius: 0;
	position: fixed;
	top: -3.875rem;
	left: 0;
	right: 0;
	padding: .5625rem 1.25rem;
	z-index: 10
}

.download_topfixed .download_logo {
	width: 2.125rem;
	height: 2.125rem
}

.download_topfixed .download_desc {
	height: 2.125rem;
	padding: 0 1rem
}

.download_topfixed .download_desc .download_title {
	margin-top: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%)
}

.download_topfixed .download_close {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: 0;
	font-size: 0;
	z-index: 1;
	border: .5625rem solid transparent
}

.download_topfixed .download_close:after,
.download_topfixed .download_close:before {
	content: "";
	display: block;
	position: absolute;
	height: .0625rem;
	width: .5625rem;
	background-color: #9c9fa1;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg)
}

.download_topfixed .download_close:after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg)
}

.house_lists .mod_cont .pictext.mod_download {
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	padding: 1.25rem 1.25rem 1.25rem .625rem
}

.house_lists .mod_cont .pictext.mod_download .download_btn {
	right: 1.25rem
}

.house_lists .mod_cont .pictext.mod_download_new {
	text-align: center;
	padding: 2.5rem 1.25rem 2.5rem 0
}

.house_lists .mod_cont .pictext.mod_download_new .download_title {
	font-size: 1rem;
	color: #666;
	font-weight: 700;
	line-height: 1
}

.house_lists .mod_cont .pictext.mod_download_new .download_btn {
	display: inline-block;
	height: 1.625rem;
	line-height: 1.625rem;
	padding: 0 .75rem;
	border: 1px solid #00B068;
	color: #00B068;
	border-radius: .1rem;
	margin-top: 1.25rem
}

.fadeDown {
	-webkit-animation: ani-fadeDown .5s ease forwards;
	-moz-animation: ani-fadeDown .5s ease forwards;
	-o-animation: ani-fadeDown .5s ease forwards;
	animation: ani-fadeDown .5s ease forwards
}

@-webkit-keyframes ani-fadeDown {
	0% {
		top: -3.875rem
	}
	100% {
		top: 0
	}
}

@-moz-keyframes ani-fadeDown {
	0% {
		top: -3.875rem
	}
	100% {
		top: 0
	}
}

@-o-keyframes ani-fadeDown {
	0% {
		top: -3.875rem
	}
	100% {
		top: 0
	}
}

@keyframes ani-fadeDown {
	0% {
		top: -3.875rem
	}
	100% {
		top: 0
	}
}

.fadeUp {
	-webkit-animation: ani-fadeUp .5s ease forwards;
	-moz-animation: ani-fadeUp .5s ease forwards;
	-o-animation: ani-fadeUp .5s ease forwards;
	animation: ani-fadeUp .5s ease forwards
}

@-webkit-keyframes ani-fadeUp {
	0% {
		top: 0
	}
	100% {
		top: -3.875rem
	}
}

@-moz-keyframes ani-fadeUp {
	0% {
		top: 0
	}
	100% {
		top: -3.875rem
	}
}

@-o-keyframes ani-fadeUp {
	0% {
		top: 0
	}
	100% {
		top: -3.875rem
	}
}

@keyframes ani-fadeUp {
	0% {
		top: 0
	}
	100% {
		top: -3.875rem
	}
}

.contact_agent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	color: #333;
	box-shadow: 0 0 1px #d9d9d9;
	padding: .5rem .5rem .5rem 0
}

.contact_agent>.box_col {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #fff
}

.contact_agent .follow {
	width: 4.75rem;
	height: 3.0625rem;
	line-height: 2.5rem;
	text-align: center;
	position: relative
}

.contact_agent .follow>* {
	vertical-align: middle
}

.contact_agent .follow>span {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: .125rem;
	font-size: .6875rem;
	height: .875rem;
	line-height: .875rem;
	left: 0;
	color: #6b7072
}

.contact_agent .btn {
	height: auto
}

.stick_fixed {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9
}